# Homework 3
## Matthew Eller
## Time (hours): 2

#### The data set you will be working on is Airport_Wait_Time.csvPreview the document. The data set was collected from https://awt.cbp.gov/, and it shows the number of passengers processed on flights arriving in each hour based on how long it took for those passengers to clear Passport Control. Use numpy and pandas to answer the following questions.

#### #1. How many rows and columns are there in the data set? What are the column names?

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

pd.read_csv("C:/Users/Matthew/Documents/Airport_Wait_Time.csv")

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
0,GUM,Main Terminal,12/14/2017,0000 - 0100,11,26,247,2,12
1,GUM,Main Terminal,12/14/2017,0100 - 0200,15,27,183,1,12
2,GUM,Main Terminal,12/14/2017,0200 - 0300,35,68,867,4,12
3,GUM,Main Terminal,12/14/2017,0300 - 0400,52,77,355,2,12
4,GUM,Main Terminal,12/14/2017,0400 - 0500,4,16,253,3,12
5,GUM,Main Terminal,12/14/2017,0700 - 0800,18,35,110,1,7
6,GUM,Main Terminal,12/14/2017,0900 - 1000,3,8,63,1,5
7,GUM,Main Terminal,12/14/2017,1200 - 1300,10,18,162,1,14
8,GUM,Main Terminal,12/14/2017,1400 - 1500,29,65,912,3,18
9,GUM,Main Terminal,12/14/2017,1500 - 1600,39,65,735,5,18
10,GUM,Main Terminal,12/14/2017,1700 - 1800,7,20,160,2,10
11,GUM,Main Terminal,12/14/2017,2200 - 2300,8,28,158,1,3
12,GUM,Main Terminal,12/14/2017,2300 - 0000,22,36,188,1,10
13,GUM,Main Terminal,12/15/2017,0000 - 0100,22,45,374,2,10
14,GUM,Main Terminal,12/15/2017,0100 - 0200,25,50,357,2,10
15,GUM,Main Terminal,12/15/2017,0200 - 0300,23,47,478,3,10
16,GUM,Main Terminal,12/15/2017,0300 - 0400,44,76,374,2,10
17,GUM,Main Terminal,12/15/2017,0400 - 0500,21,47,206,3,10
18,GUM,Main Terminal,12/15/2017,0600 - 0700,8,19,64,1,6
19,GUM,Main Terminal,12/15/2017,1300 - 1400,12,24,330,2,13
20,GUM,Main Terminal,12/15/2017,1400 - 1500,26,74,583,2,17
21,GUM,Main Terminal,12/15/2017,1500 - 1600,56,125,1454,7,18
22,GUM,Main Terminal,12/15/2017,1600 - 1700,43,91,71,1,12
23,GUM,Main Terminal,12/15/2017,1700 - 1800,9,18,54,1,9
24,GUM,Main Terminal,12/15/2017,2100 - 2200,13,34,148,1,3
25,GUM,Main Terminal,12/15/2017,2300 - 0000,29,46,195,1,10
26,GUM,Main Terminal,12/16/2017,0100 - 0200,16,53,427,2,10
27,GUM,Main Terminal,12/16/2017,0200 - 0300,36,63,388,2,10
28,GUM,Main Terminal,12/16/2017,0300 - 0400,11,28,445,3,10
29,GUM,Main Terminal,12/16/2017,0600 - 0700,8,32,240,2,7
...,...,...,...,...,...,...,...,...,...
14563,IAD,International A,1/6/2018,0600 - 0700,5,17,219,1,12
14564,IAD,International A,1/6/2018,0700 - 0800,12,48,649,2,11
14565,IAD,International A,1/6/2018,0800 - 0900,6,27,777,2,12
14566,IAD,International A,1/6/2018,1000 - 1100,14,37,437,2,10
14567,IAD,International A,1/6/2018,1100 - 1200,5,15,37,1,2
14568,IAD,International A,1/6/2018,1200 - 1300,48,140,775,3,23
14569,IAD,International A,1/6/2018,1300 - 1400,36,121,664,3,17
14570,IAD,International A,1/6/2018,1400 - 1500,28,128,2352,10,22
14571,IAD,International A,1/6/2018,1500 - 1600,27,95,1745,7,25
14572,IAD,International A,1/6/2018,1600 - 1700,24,75,841,4,23
14573,IAD,International A,1/6/2018,1800 - 1900,6,25,546,3,23
14574,IAD,International A,1/6/2018,1900 - 2000,15,63,2094,10,18
14575,IAD,International A,1/6/2018,2000 - 2100,18,42,578,3,12
14576,IAD,International A,1/6/2018,2300 - 0000,9,24,263,2,6
14577,IAD,International A,1/7/2018,0100 - 0200,13,35,199,1,4
14578,IAD,International A,1/7/2018,0600 - 0700,14,50,548,2,11
14579,IAD,International A,1/7/2018,0700 - 0800,15,77,659,2,12
14580,IAD,International A,1/7/2018,0800 - 0900,15,58,770,2,14
14581,IAD,International A,1/7/2018,1000 - 1100,11,36,332,2,7
14582,IAD,International A,1/7/2018,1100 - 1200,18,58,274,1,6
14583,IAD,International A,1/7/2018,1200 - 1300,77,197,629,3,25
14584,IAD,International A,1/7/2018,1300 - 1400,34,174,600,4,18
14585,IAD,International A,1/7/2018,1400 - 1500,41,162,2018,9,23
14586,IAD,International A,1/7/2018,1500 - 1600,32,143,2087,9,27
14587,IAD,International A,1/7/2018,1600 - 1700,22,92,824,6,26
14588,IAD,International A,1/7/2018,1700 - 1800,2,4,6,1,3
14589,IAD,International A,1/7/2018,1800 - 1900,13,49,389,2,16
14590,IAD,International A,1/7/2018,1900 - 2000,10,51,1451,7,16
14591,IAD,International A,1/7/2018,2000 - 2100,15,51,942,4,17
14592,IAD,International A,1/7/2018,2300 - 0000,9,23,175,1,6

In [3]:
datafile=pd.read_csv("C:/Users/Matthew/Documents/Airport_Wait_Time.csv")
datafile.shape #returns the ordered pair (rows, columns) for the data frame

(14593, 9)

In [4]:
datafile.columns.values #returns names of each column

array(['Airport', 'Terminal', 'Date', 'Hour',
       'All Passengers Average Wait Time', 'All Passengers Max Wait Time',
       'Number of Passengers', 'Number of Flights', 'Number of Booths'],
      dtype=object)

#### #2. How many different U.S. international airports are included in the data set?

In [5]:
datafile.Airport.nunique() #returns number of unique values in airport column

##Source: https://stackoverflow.com/questions/45759966/counting-unique-values-in-a-column-in-pandas-dataframe-like-in-qlik

44

#### #3. What is the range of the dates (starting and ending date) in the data set?

In [6]:
date=pd.to_datetime(datafile['Date'])
starting=date.min()
ending=date.max()

print("Starting Date:", starting)
print("Ending Date: ", ending)

## Source: https://stackoverflow.com/questions/29886609/find-most-recent-date-in-pandas-dataframe

Starting Date: 2017-12-14 00:00:00
Ending Date:  2018-01-07 00:00:00

#### #4. Obtain a subset of the data that only has the Chicago O'Hare International Airport (ORD). How many different international terminals does ORD have?

In [7]:
datafile.loc[datafile['Airport']=='ORD']

## Source: https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
1875,ORD,Terminal 5,12/14/2017,0000 - 0100,7,21,219,2,8
1876,ORD,Terminal 5,12/14/2017,0400 - 0500,6,17,64,1,6
1877,ORD,Terminal 5,12/14/2017,0500 - 0600,24,73,509,2,13
1878,ORD,Terminal 5,12/14/2017,0600 - 0700,3,11,128,1,5
1879,ORD,Terminal 5,12/14/2017,0700 - 0800,3,12,124,1,7
1880,ORD,Terminal 5,12/14/2017,0800 - 0900,13,40,404,2,10
1881,ORD,Terminal 5,12/14/2017,0900 - 1000,2,9,64,1,10
1882,ORD,Terminal 5,12/14/2017,1000 - 1100,16,25,210,1,10
1883,ORD,Terminal 5,12/14/2017,1100 - 1200,18,54,909,6,13
1884,ORD,Terminal 5,12/14/2017,1200 - 1300,21,48,1113,8,21
1885,ORD,Terminal 5,12/14/2017,1300 - 1400,13,34,1262,6,23
1886,ORD,Terminal 5,12/14/2017,1400 - 1500,16,61,2031,11,27
1887,ORD,Terminal 5,12/14/2017,1500 - 1600,10,30,1028,7,21
1888,ORD,Terminal 5,12/14/2017,1600 - 1700,19,39,444,3,22
1889,ORD,Terminal 5,12/14/2017,1700 - 1800,12,37,955,7,16
1890,ORD,Terminal 5,12/14/2017,1800 - 1900,19,51,766,6,18
1891,ORD,Terminal 5,12/14/2017,1900 - 2000,13,45,770,4,14
1892,ORD,Terminal 5,12/14/2017,2100 - 2200,1,8,126,1,5
1893,ORD,Terminal 5,12/14/2017,2300 - 0000,19,52,491,5,9
1894,ORD,Terminal 5,12/15/2017,0000 - 0100,14,17,49,1,5
1895,ORD,Terminal 5,12/15/2017,0400 - 0500,12,27,111,1,9
1896,ORD,Terminal 5,12/15/2017,0500 - 0600,8,23,269,1,14
1897,ORD,Terminal 5,12/15/2017,0600 - 0700,20,64,425,2,11
1898,ORD,Terminal 5,12/15/2017,0700 - 0800,6,20,185,1,9
1899,ORD,Terminal 5,12/15/2017,0800 - 0900,15,35,424,2,13
1900,ORD,Terminal 5,12/15/2017,0900 - 1000,18,27,309,2,12
1901,ORD,Terminal 5,12/15/2017,1000 - 1100,0,9,40,1,10
1902,ORD,Terminal 5,12/15/2017,1100 - 1200,16,70,1098,6,20
1903,ORD,Terminal 5,12/15/2017,1200 - 1300,27,60,543,4,21
1904,ORD,Terminal 5,12/15/2017,1300 - 1400,10,62,1358,8,27
...,...,...,...,...,...,...,...,...,...
2326,ORD,Terminal 5,1/6/2018,1200 - 1300,16,50,1367,6,27
2327,ORD,Terminal 5,1/6/2018,1300 - 1400,25,79,2188,11,29
2328,ORD,Terminal 5,1/6/2018,1400 - 1500,23,91,2871,11,25
2329,ORD,Terminal 5,1/6/2018,1500 - 1600,27,90,1911,9,32
2330,ORD,Terminal 5,1/6/2018,1600 - 1700,21,68,2002,9,29
2331,ORD,Terminal 5,1/6/2018,1700 - 1800,24,71,1987,10,27
2332,ORD,Terminal 5,1/6/2018,1800 - 1900,25,57,2270,13,22
2333,ORD,Terminal 5,1/6/2018,1900 - 2000,12,34,1007,6,20
2334,ORD,Terminal 5,1/6/2018,2000 - 2100,8,27,339,2,19
2335,ORD,Terminal 5,1/6/2018,2100 - 2200,15,41,924,5,10
2336,ORD,Terminal 5,1/6/2018,2300 - 0000,8,23,506,3,9
2337,ORD,Terminal 5,1/7/2018,0000 - 0100,9,20,189,1,9
2338,ORD,Terminal 5,1/7/2018,0100 - 0200,9,23,182,1,7
2339,ORD,Terminal 5,1/7/2018,0400 - 0500,7,19,129,1,4
2340,ORD,Terminal 5,1/7/2018,0500 - 0600,23,61,609,3,12
2341,ORD,Terminal 5,1/7/2018,0600 - 0700,22,55,504,2,13
2342,ORD,Terminal 5,1/7/2018,0700 - 0800,11,26,253,1,10
2343,ORD,Terminal 5,1/7/2018,0800 - 0900,11,36,400,2,10
2344,ORD,Terminal 5,1/7/2018,1000 - 1100,12,38,1194,6,12
2345,ORD,Terminal 5,1/7/2018,1100 - 1200,21,58,814,4,32
2346,ORD,Terminal 5,1/7/2018,1200 - 1300,14,43,1293,5,34
2347,ORD,Terminal 5,1/7/2018,1300 - 1400,13,32,1262,7,34
2348,ORD,Terminal 5,1/7/2018,1400 - 1500,20,94,3318,14,33
2349,ORD,Terminal 5,1/7/2018,1500 - 1600,18,62,1237,5,26
2350,ORD,Terminal 5,1/7/2018,1600 - 1700,25,46,1256,7,31
2351,ORD,Terminal 5,1/7/2018,1700 - 1800,14,69,1221,6,20
2352,ORD,Terminal 5,1/7/2018,1800 - 1900,23,79,3141,16,24
2353,ORD,Terminal 5,1/7/2018,1900 - 2000,30,81,940,4,12
2354,ORD,Terminal 5,1/7/2018,2000 - 2100,10,28,478,2,14
2355,ORD,Terminal 5,1/7/2018,2300 - 0000,9,23,316,2,10

In [8]:
chicago=datafile.loc[datafile['Airport']=='ORD']
chicago.Terminal.nunique() #gives number of terminals at Chicago O'Hare

1

#### #5. Consider the Christmas day (12/25/2017) for ORD airport. Which hour of the day had the longest average wait time?

In [9]:
chicago.loc[chicago['Date']=='12/25/2017']

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
2089,ORD,Terminal 5,12/25/2017,0000 - 0100,8,24,148,2,8
2090,ORD,Terminal 5,12/25/2017,0500 - 0600,39,90,691,3,14
2091,ORD,Terminal 5,12/25/2017,0700 - 0800,4,15,130,2,9
2092,ORD,Terminal 5,12/25/2017,0900 - 1000,15,55,219,2,11
2093,ORD,Terminal 5,12/25/2017,1000 - 1100,7,20,270,3,13
2094,ORD,Terminal 5,12/25/2017,1100 - 1200,10,35,395,3,14
2095,ORD,Terminal 5,12/25/2017,1200 - 1300,13,32,498,5,23
2096,ORD,Terminal 5,12/25/2017,1300 - 1400,18,40,470,3,24
2097,ORD,Terminal 5,12/25/2017,1400 - 1500,27,82,1614,8,19
2098,ORD,Terminal 5,12/25/2017,1500 - 1600,30,87,933,7,20
2099,ORD,Terminal 5,12/25/2017,1600 - 1700,22,78,658,6,16
2100,ORD,Terminal 5,12/25/2017,1700 - 1800,13,51,513,5,15
2101,ORD,Terminal 5,12/25/2017,1800 - 1900,15,51,966,10,16
2102,ORD,Terminal 5,12/25/2017,1900 - 2000,9,27,311,2,15
2103,ORD,Terminal 5,12/25/2017,2100 - 2200,7,17,141,1,2
2104,ORD,Terminal 5,12/25/2017,2200 - 2300,8,17,130,1,9
2105,ORD,Terminal 5,12/25/2017,2300 - 0000,9,22,387,3,11

In [10]:
xmas=chicago.loc[chicago['Date']=='12/25/2017']
rowmax=xmas["All Passengers Max Wait Time"].idxmax() #locate row with max wait time
print ("Row where max wait occurs: ", rowmax) 
print()
datafile[2090:2091]

Row where max wait occurs:  2090

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
2090,ORD,Terminal 5,12/25/2017,0500 - 0600,39,90,691,3,14

In [11]:
print("Time with longest wait on Christmas Day")
datafile[2090:2091].Hour

Time with longest wait on Christmas Day

2090    0500 - 0600
Name: Hour, dtype: object

#### #6. Compare between the Christmas day and New Year (1/1/2018) for ORD airport. Which hour of the day had the biggest difference of the average wait time?

In [12]:
print("Christmas Day 2017")
chicago.loc[chicago['Date']=='12/25/2017']

Christmas Day 2017

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
2089,ORD,Terminal 5,12/25/2017,0000 - 0100,8,24,148,2,8
2090,ORD,Terminal 5,12/25/2017,0500 - 0600,39,90,691,3,14
2091,ORD,Terminal 5,12/25/2017,0700 - 0800,4,15,130,2,9
2092,ORD,Terminal 5,12/25/2017,0900 - 1000,15,55,219,2,11
2093,ORD,Terminal 5,12/25/2017,1000 - 1100,7,20,270,3,13
2094,ORD,Terminal 5,12/25/2017,1100 - 1200,10,35,395,3,14
2095,ORD,Terminal 5,12/25/2017,1200 - 1300,13,32,498,5,23
2096,ORD,Terminal 5,12/25/2017,1300 - 1400,18,40,470,3,24
2097,ORD,Terminal 5,12/25/2017,1400 - 1500,27,82,1614,8,19
2098,ORD,Terminal 5,12/25/2017,1500 - 1600,30,87,933,7,20
2099,ORD,Terminal 5,12/25/2017,1600 - 1700,22,78,658,6,16
2100,ORD,Terminal 5,12/25/2017,1700 - 1800,13,51,513,5,15
2101,ORD,Terminal 5,12/25/2017,1800 - 1900,15,51,966,10,16
2102,ORD,Terminal 5,12/25/2017,1900 - 2000,9,27,311,2,15
2103,ORD,Terminal 5,12/25/2017,2100 - 2200,7,17,141,1,2
2104,ORD,Terminal 5,12/25/2017,2200 - 2300,8,17,130,1,9
2105,ORD,Terminal 5,12/25/2017,2300 - 0000,9,22,387,3,11

In [13]:
print("New Year's Day")
chicago.loc[chicago['Date']=='1/1/2018']

New Year's Day

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
2220,ORD,Terminal 5,1/1/2018,0000 - 0100,5,15,150,1,8
2221,ORD,Terminal 5,1/1/2018,0500 - 0600,10,21,156,1,8
2222,ORD,Terminal 5,1/1/2018,0600 - 0700,13,31,313,1,17
2223,ORD,Terminal 5,1/1/2018,0700 - 0800,10,31,441,2,15
2224,ORD,Terminal 5,1/1/2018,0800 - 0900,12,27,207,1,13
2225,ORD,Terminal 5,1/1/2018,0900 - 1000,17,34,486,2,13
2226,ORD,Terminal 5,1/1/2018,1000 - 1100,11,25,253,3,12
2227,ORD,Terminal 5,1/1/2018,1100 - 1200,16,57,1005,5,21
2228,ORD,Terminal 5,1/1/2018,1200 - 1300,19,54,1549,8,26
2229,ORD,Terminal 5,1/1/2018,1300 - 1400,24,48,1335,6,16
2230,ORD,Terminal 5,1/1/2018,1400 - 1500,20,87,2313,9,25
2231,ORD,Terminal 5,1/1/2018,1500 - 1600,22,82,1558,8,25
2232,ORD,Terminal 5,1/1/2018,1600 - 1700,23,82,1385,7,27
2233,ORD,Terminal 5,1/1/2018,1700 - 1800,24,90,1414,8,26
2234,ORD,Terminal 5,1/1/2018,1800 - 1900,34,97,751,6,19
2235,ORD,Terminal 5,1/1/2018,1900 - 2000,14,31,221,4,16
2236,ORD,Terminal 5,1/1/2018,2000 - 2100,9,24,625,4,27
2237,ORD,Terminal 5,1/1/2018,2200 - 2300,5,11,172,1,6
2238,ORD,Terminal 5,1/1/2018,2300 - 0000,16,38,296,2,10

In [14]:
xmas=chicago.loc[chicago['Date']=='12/25/2017']
nyd=chicago.loc[chicago['Date']=='1/1/2018']

In [15]:
print("Christmas Average Wait Time")
print(xmas[["Hour","All Passengers Average Wait Time"]])
print()
print("New Years Average Wait Time")
print(nyd[["Hour","All Passengers Average Wait Time"]])

Christmas Average Wait Time
             Hour  All Passengers Average Wait Time
2089  0000 - 0100                                 8
2090  0500 - 0600                                39
2091  0700 - 0800                                 4
2092  0900 - 1000                                15
2093  1000 - 1100                                 7
2094  1100 - 1200                                10
2095  1200 - 1300                                13
2096  1300 - 1400                                18
2097  1400 - 1500                                27
2098  1500 - 1600                                30
2099  1600 - 1700                                22
2100  1700 - 1800                                13
2101  1800 - 1900                                15
2102  1900 - 2000                                 9
2103  2100 - 2200                                 7
2104  2200 - 2300                                 8
2105  2300 - 0000                                 9

New Years Average Wait Time
             Hour  All Passengers Average Wait Time
2220  0000 - 0100                                 5
2221  0500 - 0600                                10
2222  0600 - 0700                                13
2223  0700 - 0800                                10
2224  0800 - 0900                                12
2225  0900 - 1000                                17
2226  1000 - 1100                                11
2227  1100 - 1200                                16
2228  1200 - 1300                                19
2229  1300 - 1400                                24
2230  1400 - 1500                                20
2231  1500 - 1600                                22
2232  1600 - 1700                                23
2233  1700 - 1800                                24
2234  1800 - 1900                                34
2235  1900 - 2000                                14
2236  2000 - 2100                                 9
2237  2200 - 2300                                 5
2238  2300 - 0000                                16

In [16]:
xmasnew=xmas[["Hour","All Passengers Average Wait Time"]]
xmasnew.index=range(17)
xmasnew

           Hour  All Passengers Average Wait Time
0   0000 - 0100                                 8
1   0500 - 0600                                39
2   0700 - 0800                                 4
3   0900 - 1000                                15
4   1000 - 1100                                 7
5   1100 - 1200                                10
6   1200 - 1300                                13
7   1300 - 1400                                18
8   1400 - 1500                                27
9   1500 - 1600                                30
10  1600 - 1700                                22
11  1700 - 1800                                13
12  1800 - 1900                                15
13  1900 - 2000                                 9
14  2100 - 2200                                 7
15  2200 - 2300                                 8
16  2300 - 0000                                 9

In [17]:
nydnew=nyd[["Hour","All Passengers Average Wait Time"]]
nydnew.index=range(19)
nydnew

           Hour  All Passengers Average Wait Time
0   0000 - 0100                                 5
1   0500 - 0600                                10
2   0600 - 0700                                13
3   0700 - 0800                                10
4   0800 - 0900                                12
5   0900 - 1000                                17
6   1000 - 1100                                11
7   1100 - 1200                                16
8   1200 - 1300                                19
9   1300 - 1400                                24
10  1400 - 1500                                20
11  1500 - 1600                                22
12  1600 - 1700                                23
13  1700 - 1800                                24
14  1800 - 1900                                34
15  1900 - 2000                                14
16  2000 - 2100                                 9
17  2200 - 2300                                 5
18  2300 - 0000                                16

In [24]:
#using nydnew.drop(2) and nydnew.drop(8) to match time intervals in Christmas subset
nydnew=nydnew.drop(2)

In [26]:
nydnew=nydnew.drop(8)

In [27]:
nydnew.index=range(17)
nydnew

           Hour  All Passengers Average Wait Time
0   0000 - 0100                                 5
1   0500 - 0600                                10
2   0700 - 0800                                10
3   0800 - 0900                                12
4   0900 - 1000                                17
5   1000 - 1100                                11
6   1100 - 1200                                16
7   1300 - 1400                                24
8   1400 - 1500                                20
9   1500 - 1600                                22
10  1600 - 1700                                23
11  1700 - 1800                                24
12  1800 - 1900                                34
13  1900 - 2000                                14
14  2000 - 2100                                 9
15  2200 - 2300                                 5
16  2300 - 0000                                16

In [28]:
xmasnew["All Passengers Average Wait Time"]-nydnew["All Passengers Average Wait Time"]

0      3
1     29
2     -6
3      3
4    -10
5     -1
6     -3
7     -6
8      7
9      8
10    -1
11   -11
12   -19
13    -5
14    -2
15     3
16    -7
Name: All Passengers Average Wait Time, dtype: int64

In [30]:
difference=xmasnew["All Passengers Average Wait Time"]-nydnew["All Passengers Average Wait Time"]
absdifference=(difference*difference)**.5
absdifference

0      3.0
1     29.0
2      6.0
3      3.0
4     10.0
5      1.0
6      3.0
7      6.0
8      7.0
9      8.0
10     1.0
11    11.0
12    19.0
13     5.0
14     2.0
15     3.0
16     7.0
Name: All Passengers Average Wait Time, dtype: float64

In [32]:
maxwait=absdifference.max()
maxwait

29.0

In [ ]:
## The largest difference in wait time was 29 hours for 0500-0600.

#### #7. Obtain a subset for the New York John F. Kennedy International Airport (JFK). How many different international terminals does JFK have?

In [33]:
datafile.loc[datafile['Airport']=='JFK']

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
8251,JFK,Terminal 1,12/14/2017,0000 - 0100,18,40,223,1,8
8252,JFK,Terminal 1,12/14/2017,0900 - 1000,31,86,975,5,13
8253,JFK,Terminal 1,12/14/2017,1100 - 1200,15,35,453,3,10
8254,JFK,Terminal 1,12/14/2017,1200 - 1300,15,36,476,2,9
8255,JFK,Terminal 1,12/14/2017,1300 - 1400,22,59,902,3,13
8256,JFK,Terminal 1,12/14/2017,1400 - 1500,38,94,886,4,14
8257,JFK,Terminal 1,12/14/2017,1600 - 1700,24,62,934,4,11
8258,JFK,Terminal 1,12/14/2017,1800 - 1900,40,129,1018,5,11
8259,JFK,Terminal 1,12/14/2017,1900 - 2000,47,107,452,2,14
8260,JFK,Terminal 1,12/14/2017,2000 - 2100,41,113,791,4,14
8261,JFK,Terminal 1,12/14/2017,2100 - 2200,28,71,687,3,15
8262,JFK,Terminal 1,12/14/2017,2200 - 2300,20,49,131,1,10
8263,JFK,Terminal 1,12/14/2017,2300 - 0000,23,46,377,2,13
8264,JFK,Terminal 4 (IAT),12/14/2017,0000 - 0100,17,39,333,3,11
8265,JFK,Terminal 4 (IAT),12/14/2017,0100 - 0200,13,33,188,2,12
8266,JFK,Terminal 4 (IAT),12/14/2017,0200 - 0300,10,27,150,3,5
8267,JFK,Terminal 4 (IAT),12/14/2017,0300 - 0400,14,35,279,1,9
8268,JFK,Terminal 4 (IAT),12/14/2017,0400 - 0500,17,42,682,3,20
8269,JFK,Terminal 4 (IAT),12/14/2017,0500 - 0600,14,34,814,4,22
8270,JFK,Terminal 4 (IAT),12/14/2017,0600 - 0700,27,54,299,1,15
8271,JFK,Terminal 4 (IAT),12/14/2017,0700 - 0800,41,83,573,2,10
8272,JFK,Terminal 4 (IAT),12/14/2017,0900 - 1000,27,64,161,2,8
8273,JFK,Terminal 4 (IAT),12/14/2017,1000 - 1100,14,36,291,1,13
8274,JFK,Terminal 4 (IAT),12/14/2017,1100 - 1200,15,36,717,4,18
8275,JFK,Terminal 4 (IAT),12/14/2017,1200 - 1300,17,49,496,2,22
8276,JFK,Terminal 4 (IAT),12/14/2017,1300 - 1400,28,99,2631,15,27
8277,JFK,Terminal 4 (IAT),12/14/2017,1400 - 1500,10,39,323,2,14
8278,JFK,Terminal 4 (IAT),12/14/2017,1500 - 1600,21,100,1333,6,20
8279,JFK,Terminal 4 (IAT),12/14/2017,1600 - 1700,25,81,535,4,11
8280,JFK,Terminal 4 (IAT),12/14/2017,1800 - 1900,21,84,776,4,12
...,...,...,...,...,...,...,...,...,...
10136,JFK,Terminal 7 (British),1/7/2018,0600 - 0700,12,27,143,1,8
10137,JFK,Terminal 7 (British),1/7/2018,0800 - 0900,15,33,281,1,8
10138,JFK,Terminal 7 (British),1/7/2018,0900 - 1000,16,36,207,1,8
10139,JFK,Terminal 7 (British),1/7/2018,1100 - 1200,19,29,261,1,11
10140,JFK,Terminal 7 (British),1/7/2018,1200 - 1300,9,20,264,1,12
10141,JFK,Terminal 7 (British),1/7/2018,1300 - 1400,7,15,115,1,11
10142,JFK,Terminal 7 (British),1/7/2018,1400 - 1500,14,29,280,1,12
10143,JFK,Terminal 7 (British),1/7/2018,1500 - 1600,18,39,496,2,12
10144,JFK,Terminal 7 (British),1/7/2018,1600 - 1700,12,24,299,1,12
10145,JFK,Terminal 7 (British),1/7/2018,1700 - 1800,10,19,224,1,12
10146,JFK,Terminal 7 (British),1/7/2018,1800 - 1900,13,30,201,1,10
10147,JFK,Terminal 7 (British),1/7/2018,1900 - 2000,9,21,487,2,15
10148,JFK,Terminal 7 (British),1/7/2018,2000 - 2100,12,24,294,1,14
10149,JFK,Terminal 7 (British),1/7/2018,2100 - 2200,18,42,733,3,11
10150,JFK,Terminal 7 (British),1/7/2018,2200 - 2300,6,13,10,1,0
10151,JFK,Terminal 7 (British),1/7/2018,2300 - 0000,9,26,553,3,11
10152,JFK,Terminal 8 (American),1/7/2018,0600 - 0700,31,95,865,3,10
10153,JFK,Terminal 8 (American),1/7/2018,0700 - 0800,20,47,188,1,8
10154,JFK,Terminal 8 (American),1/7/2018,0900 - 1000,8,22,300,1,8
10155,JFK,Terminal 8 (American),1/7/2018,1100 - 1200,11,24,161,1,13
10156,JFK,Terminal 8 (American),1/7/2018,1200 - 1300,16,32,745,3,18
10157,JFK,Terminal 8 (American),1/7/2018,1300 - 1400,15,36,579,3,13
10158,JFK,Terminal 8 (American),1/7/2018,1400 - 1500,17,45,355,1,18
10159,JFK,Terminal 8 (American),1/7/2018,1500 - 1600,9,21,238,1,14
10160,JFK,Terminal 8 (American),1/7/2018,1600 - 1700,21,46,850,4,14
10161,JFK,Terminal 8 (American),1/7/2018,1700 - 1800,15,42,584,3,13
10162,JFK,Terminal 8 (American),1/7/2018,1900 - 2000,16,41,511,2,12
10163,JFK,Terminal 8 (American),1/7/2018,2000 - 2100,14,39,522,2,13
10164,JFK,Terminal 8 (American),1/7/2018,2100 - 2200,11,26,234,1,14
10165,JFK,Terminal 8 (American),1/7/2018,2200 - 2300,25,67,683,3,13

In [34]:
newyork=datafile.loc[datafile['Airport']=='JFK']
newyork.Terminal.nunique() #gives number of terminals at New York JFK

5

#### #8. For JFK airport, report the total number of flights by date.

In [51]:
print("Total Number of Flights by Date")
newyork.pivot_table(values='Number of Flights', index=newyork["Date"], aggfunc='sum')

Total Number of Flights by Date

            Number of Flights
Date
1/1/2018                  210
1/2/2018                  232
1/3/2018                  212
1/4/2018                   32
1/5/2018                  116
1/6/2018                  190
1/7/2018                  176
12/14/2017                202
12/15/2017                195
12/16/2017                222
12/17/2017                213
12/18/2017                196
12/19/2017                212
12/20/2017                202
12/21/2017                217
12/22/2017                217
12/23/2017                217
12/24/2017                213
12/25/2017                202
12/26/2017                216
12/27/2017                208
12/28/2017                215
12/29/2017                218
12/30/2017                218
12/31/2017                219

#### #9. Consider the New Year (1/1/2018) of JFK airport. After summing passengers from all terminals, which hour of the day had the largest number of passengers?

In [52]:
print("New Year 2018")
newyork.loc[newyork['Date']=='1/1/2018']

New Year 2018

,Airport,Terminal,Date,Hour,All Passengers Average Wait Time,All Passengers Max Wait Time,Number of Passengers,Number of Flights,Number of Booths
9688,JFK,Terminal 1,1/1/2018,0900 - 1000,17,47,791,3,12
9689,JFK,Terminal 1,1/1/2018,1000 - 1100,18,52,687,2,12
9690,JFK,Terminal 1,1/1/2018,1100 - 1200,13,36,1069,4,17
9691,JFK,Terminal 1,1/1/2018,1200 - 1300,16,32,382,1,16
9692,JFK,Terminal 1,1/1/2018,1300 - 1400,29,106,1305,4,22
9693,JFK,Terminal 1,1/1/2018,1400 - 1500,41,89,261,1,20
9694,JFK,Terminal 1,1/1/2018,1600 - 1700,17,46,1050,3,15
9695,JFK,Terminal 1,1/1/2018,1700 - 1800,16,50,510,2,15
9696,JFK,Terminal 1,1/1/2018,1800 - 1900,22,60,589,2,13
9697,JFK,Terminal 1,1/1/2018,1900 - 2000,8,12,134,1,8
9698,JFK,Terminal 1,1/1/2018,2000 - 2100,43,113,420,3,17
9699,JFK,Terminal 1,1/1/2018,2100 - 2200,31,103,1260,5,19
9700,JFK,Terminal 1,1/1/2018,2200 - 2300,23,61,536,3,16
9701,JFK,Terminal 1,1/1/2018,2300 - 0000,26,55,262,1,9
9702,JFK,Terminal 4 (IAT),1/1/2018,0000 - 0100,16,77,472,4,16
9703,JFK,Terminal 4 (IAT),1/1/2018,0100 - 0200,10,29,312,3,12
9704,JFK,Terminal 4 (IAT),1/1/2018,0200 - 0300,10,39,208,2,7
9705,JFK,Terminal 4 (IAT),1/1/2018,0300 - 0400,25,75,338,2,9
9706,JFK,Terminal 4 (IAT),1/1/2018,0400 - 0500,16,59,1046,6,17
9707,JFK,Terminal 4 (IAT),1/1/2018,0500 - 0600,21,41,537,2,10
9708,JFK,Terminal 4 (IAT),1/1/2018,0600 - 0700,11,36,584,2,10
9709,JFK,Terminal 4 (IAT),1/1/2018,0800 - 0900,13,49,725,2,12
9710,JFK,Terminal 4 (IAT),1/1/2018,0900 - 1000,23,50,349,2,5
9711,JFK,Terminal 4 (IAT),1/1/2018,1100 - 1200,21,80,1139,5,17
9712,JFK,Terminal 4 (IAT),1/1/2018,1200 - 1300,15,74,1118,6,24
9713,JFK,Terminal 4 (IAT),1/1/2018,1300 - 1400,23,49,2125,8,32
9714,JFK,Terminal 4 (IAT),1/1/2018,1400 - 1500,24,62,1285,6,29
9715,JFK,Terminal 4 (IAT),1/1/2018,1500 - 1600,17,60,1444,7,21
9716,JFK,Terminal 4 (IAT),1/1/2018,1600 - 1700,15,35,762,3,21
9717,JFK,Terminal 4 (IAT),1/1/2018,1700 - 1800,23,87,739,5,18
...,...,...,...,...,...,...,...,...,...
9736,JFK,Terminal 5 (Jet Blue),1/1/2018,2300 - 0000,41,56,6,1,0
9737,JFK,Terminal 7 (British),1/1/2018,0600 - 0700,14,37,94,1,3
9738,JFK,Terminal 7 (British),1/1/2018,0700 - 0800,20,50,272,1,6
9739,JFK,Terminal 7 (British),1/1/2018,0800 - 0900,17,37,265,1,6
9740,JFK,Terminal 7 (British),1/1/2018,0900 - 1000,11,27,196,1,8
9741,JFK,Terminal 7 (British),1/1/2018,1000 - 1100,26,43,205,1,7
9742,JFK,Terminal 7 (British),1/1/2018,1100 - 1200,12,20,100,1,7
9743,JFK,Terminal 7 (British),1/1/2018,1200 - 1300,11,24,196,1,5
9744,JFK,Terminal 7 (British),1/1/2018,1300 - 1400,15,39,334,2,9
9745,JFK,Terminal 7 (British),1/1/2018,1400 - 1500,16,31,192,1,8
9746,JFK,Terminal 7 (British),1/1/2018,1500 - 1600,19,50,647,3,12
9747,JFK,Terminal 7 (British),1/1/2018,1600 - 1700,23,48,484,2,11
9748,JFK,Terminal 7 (British),1/1/2018,1800 - 1900,24,34,253,1,10
9749,JFK,Terminal 7 (British),1/1/2018,1900 - 2000,11,20,155,1,9
9750,JFK,Terminal 7 (British),1/1/2018,2000 - 2100,53,118,554,3,13
9751,JFK,Terminal 7 (British),1/1/2018,2100 - 2200,29,73,310,2,14
9752,JFK,Terminal 7 (British),1/1/2018,2300 - 0000,10,24,370,2,7
9753,JFK,Terminal 8 (American),1/1/2018,0600 - 0700,22,74,923,4,10
9754,JFK,Terminal 8 (American),1/1/2018,0700 - 0800,17,56,536,2,8
9755,JFK,Terminal 8 (American),1/1/2018,0800 - 0900,14,28,224,1,7
9756,JFK,Terminal 8 (American),1/1/2018,1000 - 1100,18,31,166,1,4
9757,JFK,Terminal 8 (American),1/1/2018,1200 - 1300,12,31,715,3,15
9758,JFK,Terminal 8 (American),1/1/2018,1300 - 1400,18,37,440,2,14
9759,JFK,Terminal 8 (American),1/1/2018,1400 - 1500,20,71,898,4,12
9760,JFK,Terminal 8 (American),1/1/2018,1500 - 1600,16,42,410,2,15
9761,JFK,Terminal 8 (American),1/1/2018,1700 - 1800,11,20,160,1,6
9762,JFK,Terminal 8 (American),1/1/2018,1800 - 1900,11,24,526,2,16
9763,JFK,Terminal 8 (American),1/1/2018,2000 - 2100,20,49,141,2,8
9764,JFK,Terminal 8 (American),1/1/2018,2100 - 2200,17,28,260,2,12
9765,JFK,Terminal 8 (American),1/1/2018,2200 - 2300,12,25,516,2,12

In [54]:
newyorknyd=newyork.loc[newyork['Date']=='1/1/2018']
newyorknyd[["Hour","Number of Passengers"]]

             Hour  Number of Passengers
9688  0900 - 1000                   791
9689  1000 - 1100                   687
9690  1100 - 1200                  1069
9691  1200 - 1300                   382
9692  1300 - 1400                  1305
9693  1400 - 1500                   261
9694  1600 - 1700                  1050
9695  1700 - 1800                   510
9696  1800 - 1900                   589
9697  1900 - 2000                   134
9698  2000 - 2100                   420
9699  2100 - 2200                  1260
9700  2200 - 2300                   536
9701  2300 - 0000                   262
9702  0000 - 0100                   472
9703  0100 - 0200                   312
9704  0200 - 0300                   208
9705  0300 - 0400                   338
9706  0400 - 0500                  1046
9707  0500 - 0600                   537
9708  0600 - 0700                   584
9709  0800 - 0900                   725
9710  0900 - 1000                   349
9711  1100 - 1200                  1139
9712  1200 - 1300                  1118
9713  1300 - 1400                  2125
9714  1400 - 1500                  1285
9715  1500 - 1600                  1444
9716  1600 - 1700                   762
9717  1700 - 1800                   739
...           ...                   ...
9736  2300 - 0000                     6
9737  0600 - 0700                    94
9738  0700 - 0800                   272
9739  0800 - 0900                   265
9740  0900 - 1000                   196
9741  1000 - 1100                   205
9742  1100 - 1200                   100
9743  1200 - 1300                   196
9744  1300 - 1400                   334
9745  1400 - 1500                   192
9746  1500 - 1600                   647
9747  1600 - 1700                   484
9748  1800 - 1900                   253
9749  1900 - 2000                   155
9750  2000 - 2100                   554
9751  2100 - 2200                   310
9752  2300 - 0000                   370
9753  0600 - 0700                   923
9754  0700 - 0800                   536
9755  0800 - 0900                   224
9756  1000 - 1100                   166
9757  1200 - 1300                   715
9758  1300 - 1400                   440
9759  1400 - 1500                   898
9760  1500 - 1600                   410
9761  1700 - 1800                   160
9762  1800 - 1900                   526
9763  2000 - 2100                   141
9764  2100 - 2200                   260
9765  2200 - 2300                   516

[78 rows x 2 columns]

In [55]:
nynyd=newyorknyd[["Hour","Number of Passengers"]]
print("Total Number of Passengers per Hour on 1/1/2018")
nynyd.pivot_table(values='Number of Passengers', index=nynyd["Hour"], aggfunc='sum')

Total Number of Passengers per Hour on 1/1/2018

             Number of Passengers
Hour
0000 - 0100                   472
0100 - 0200                   312
0200 - 0300                   208
0300 - 0400                   338
0400 - 0500                  1046
0500 - 0600                   639
0600 - 0700                  1769
0700 - 0800                   808
0800 - 0900                  1405
0900 - 1000                  1724
1000 - 1100                  1058
1100 - 1200                  2308
1200 - 1300                  2411
1300 - 1400                  4204
1400 - 1500                  2901
1500 - 1600                  2937
1600 - 1700                  2407
1700 - 1800                  1603
1800 - 1900                  3134
1900 - 2000                  1743
2000 - 2100                  2672
2100 - 2200                  2767
2200 - 2300                  1930
2300 - 0000                  1242

In [56]:
totalpassengers=nynyd.pivot_table(values='Number of Passengers', index=nynyd["Hour"], aggfunc='sum')
totalpassengers["Number of Passengers"].max()

4204

In [57]:
## The total number of passengers on 1/1/2018 at JFK was 4204 at the time 1300-1400.